<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css?v=3">
  </head>
  <body>
    <div class="top-lines" aria-hidden="true">
      <img src="/assets/img/top-lines.svg" alt="" />
    </div>
    {% include header.html %}
    <main class="container">
      {{ content }}
    </main>
    <div class="bottom-lines" aria-hidden="true">
      <img src="/assets/img/bottom-lines.svg" alt="" />
    </div>
    {% include footer.html %}
  </body>
</html>
